@model Portfolio.Models.Experience[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Experience:</h1>
<hr />

@foreach (var exp in Model)
{
    <label><h5>@exp.ExperienceName</h5></label>
    <p>@exp.ExperienceDescription</p>
    <div style="padding-bottom: 10px;"></div>
}



