
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Experience:</h1>
<hr />

<label><h5>ASP.NET:</h5></label>
<p>This website is made using ASP.NET MVC.  I've also had experience working on my current companies web application, which uses ASP.NET.  My primary focus was working on bugs in our backlog and other tasks handed down from development.</p>

<label><h5>SQL (SSMS)</h5></label>
<p>I first learned SQL while in school and it's a skill that has been a constant in all of my projects/jobs.  In my current position, I work with SQL daily to locate potential problems.  I also work on SQL import PO's that are put in to the company.  These usually require a custom script written based off the information provided.  I help debug and implement changes to stored procedures.</p>

<Label><h5>RESTful API's:</h5></Label>
<p>I've worked with creating endpoints in a few of my different projects.  I've also worked with JIRA's REST API in my Python scripts.  Using the REST API, I've been able to automate certain aspects of my current companies ticket queue.  This has saved our team leads from the tedious task of manually going through tickets looking for specific things.</p>

<label><h5>Java</h5></label>
<p>Java is the first language I really dove into while working at Aston Technologies.  I worked with Java console applications, servlets, JSP's, JDBC, and eventually moved into Spring MVC.  I focused primarily on making endpoints that would retreieve and persist data to the database.</p>

<label><h5>Ruby on Rails</h5></label>
<p>I was brought in to work with a developer tasked with making our automation testing more usable.  Our previous person had written many scrits with Ruby/Selenium, but unfortunately left.  We were left with many scripts, but no great way to use them.  The project presented was to create a webapp that would allow development and QA to interact with these tests easier. This required the developer and I to pickup Ruby on Rails and start creating the web app from scratch.  I was heavily involved in this project, from creating the relational database, to bringing over the data from the previous database.  This is still a WIP at this point in time.</p>

<label><h5>Github:</h5></label>
<p>At my current position we actually use TFS, but in my free time I use github.  This website and a few other person projects I've worked on can be found on my github page located <a href="http://www.github.com/jerryk1989">here</a>.</p>
