@model Portfolio.Models.Project[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-deck">
    @foreach (var project in Model)
    {
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">@project.ProjectName</h5>
                <hr />
                <label style="font-size: 12px;"><strong>Language:</strong> @project.PrimaryLanguage</label>
                <br />
                <label style="font-size: 12px;"><strong>Description:</strong></label>
                <p class="card-text font-weight-light">@project.Description</p>
            </div>
        </div>
    }
</div>